body {
    background-color: #eeeeee;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #5893d4;
    border-width: 6px;
    width: 5%;
}
h1 {
    color: #113f67
}

h3 {
    color: #0b409c
}
th {
    color: #0b409c
}

.picture {
    border-radius: 100%;
}